<!DOCTYPE html>
<html>
<head>
<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0" />
<title>配送系统</title>

<include file="public/header"/>

</head>
<body class="index html innerbox">

  <!--页头开始-->
  <div class="header">
    <div class="head">
    <span class="title_left float_left"><a href="#" onClick="javascript :history.back(-1);"><img src="__HOME__/images/jiantou.png" style="width: 85%;margin-top: 5px;"></a></span>
    <span class="title">配送系统</span>
      <div class="title_r"><a href="javascript:void(0);" onclick="show()"><img src="__HOME__/images/dian.png"></a></div>
      <div class="hide loginout" id="showdiv">
      <ul>
      <li><a href="{:url('Index/index')}">首页</a></li>
      <li><a href="{:url('Login/logout')}">退出</a></li>
      </ul></div>
    </div>
  </div>

  <!--页头结束-->
  <!-- 内容头部开始 -->

    <div class="user index_back">
    <div style="width: 100%; height: 65%;">
      <div class="user_left">
        <a href="{:url('index/userinfo')}"><img src="{$courier.courier_img}"/></a>
      </div>
    <div class="user_r">
      <span class="font_text">{$courier.courier_name}</span><br/>
      <div class=" <if condition='$courier.courier_idle eq 1'> mang <elseif condition='$courier.courier_idle eq 2'/> xian </if>">
      <a class="a left" id="msg">配送中</a><a class="a right">接单中</a>
      </div>
    </div>
    </div>
    <div class="input">
      <a href="javascript:void(0);" onclick="sosuo()"><img src="__HOME__/images/search.png" ></a>
      <input type="text" name="搜索" placeholder="请输入订单号查询" id="sosuo">
    </div>
    </div>
    <div class="user_buttom">
      <a href="{:url('order/action',['status' => '0'])}"><img src="__HOME__/images/qiangdang.png"></a>
      <span ><a href="" class="qu">取</a>{$address.store_address}</span><br/>
      <span ><a href="" class="song">送</a>{$address.address}</span>
    </div>

  <!-- 内容头部结束 -->

  <!-- 内容主体开始 -->

  <div class="content">
  
    <a href="{:url('order/action',['status' => '3'])}"><div class="fen">
    <img src="__HOME__/images/1F-001.png" class="img">
    <p class="index_num">{$num.wait}</p>
    <span>待取货</span>
    </div></a>

    <a href="{:url('order/action',['status' => '1'])}"><div class="fen xx yy">
    <img src="__HOME__/images/1F-002.png" class="img">
    <p class="index_num">{$num.process}</p>
    <span>配送中</span>
    </div></a>

    <a href="{:url('order/bill')}"><div class="lan">
    <img src="__HOME__/images/0.png" class="img">
    <span>配送情况</span>
    </div></a>

    <a href="{:url('order/action',['status' => '2'])}"><div class="lan xx">
    <img src="__HOME__/images/1F-003.png" class="img">
    <span>配送记录</span>
    </div></a>
    
  </div>
  <div class="index_footer">  </div> 
  <!-- 内容主体结束 -->
  <!-- 内容尾部开始 -->
  <!-- <a href="" class="stop">&nbsp;</a> -->
  <include file="public/footer" />

  <!-- 内容尾部结束 -->
  <script type="text/javascript" src="__HOME__/js/jquery.min.js"></script>
  <script type="text/javascript">
  function sosuo(){
    var sosuo = $("#sosuo").val();
    if (sosuo == '') {
        $("#sosuo").val('为空不能查询');
        return false;
    } else {
    window.location.href='sosuo.html?sosuo='+ sosuo ;
    }
};

   

</script>
</body>
</html>